@using Core

@inject Settings Settings
@inject NavigationManager NavigationManager

@if (Settings.IsUserLoggedIn())
{
    <span>
        Hello, @Settings.GetUserName()!
    </span>

    @if (!Settings.UseWindowsAuthentication())
    {
        <button @onclick="Logout">Logout</button>
    }

}
else
{
    <button @onclick="Login">Login</button>
}

@code {
    private void Login()
    {
        NavigationManager.NavigateTo("/signin");
    }

    private void Logout()
    {
        Settings.LogoutUser();
        NavigationManager.NavigateTo("/signedout");
    }
}
