@page "/account"

<h3>Account</h3>

@using Core

@inject Settings Settings

@if (CurrentUserService.VerifyUserIdentity() && !Settings.UseWindowsAuthentication())
{
    <div>Username: <strong>@CurrentUserService.Username</strong></div>
    <NavLink class="nav-link" href="">
        <button class="btn btn-outline-danger" @onclick="@Logout">Logout</button>
    </NavLink>
}
else if (Settings.UseWindowsAuthentication())
{
    <div>Username: <strong>@Settings.WindowsIdentity.Name</strong></div>
}

@code
{
    [CascadingParameter]
    private CurrentUserService CurrentUserService { get; set; }

    private async Task Logout()
    {
        Settings.LogoutUser(CurrentUserService.Username);

        await CurrentUserService.Logout();
    }
}

