@page "/items/new-item"

@inject NavigationManager NavigationManager

<h3>Items</h3>
<h5>Create new item</h5>

<input type="button" @onclick="Finish" value="Finish" />

@code {
    private void Finish()
    {
        // NavigationManager.NavigateTo("items");

        
    }
}
