@page "/"

@using Core

@inject Settings Settings

<h1>Hello, world!</h1>

@if (Settings.isLoggedIn)
{
    <p>
        Welcome to our new app, @Settings.GetUserName()!
    </p>
}
else
{
    <p>
        You are not authenticated.
    </p>
}

